*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Roboto;
}

@font-face {
    font-family: Roboto;
    src: url('./assets/fonts/Roboto.ttf');
}

:root{
    overflow-x: hidden;
    --primary-color:#003c62;
    --secondary-color:#090b12;
}

.main-container{
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: var(--primary-color);
    background: radial-gradient(at center, var(--primary-color), var(--secondary-color));
}

.auth-container{
    display: flex;
    flex-direction: column;
    width: 700px;
    height: auto;
    background-color: var(--secondary-color);
    border: 1px solid var(--primary-color);
    border-radius: 25px;
    padding: 25px;
    color: var(--primary-color);
}

.auth-middle-inner{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.auth-middle-inner input{
    height: 50px;
    margin: 10px 0px;
    text-indent: 1rem;
    color: grey;
    border: 0px;
    border-radius: 5px;
    font-size: 1rem;
}

.submit-btn{
    font-size: 1rem;
    margin: 10px 0px;
    border-radius: 5px;
    height: 50px;
    border: 1px solid var(--primary-color);
    background-color: var(--secondary-color);
    color: var(--primary-color);
    cursor: pointer;
    width: 100%;
    transition: 0.2s;
}

.submit-btn:hover{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    transition: 0.2s;
}

.toggle-link{
    color: grey;
}

.text-container li:nth-child(odd){
    background-color: #e9e9e9;
}
.text-container li{
    line-height: 50px;
    padding-left: 15px;
    font-size: 1rem;
}
.text-container{
    width: 100%;
    max-height: 100%;
    overflow-y: scroll;
}

.send-message-container{
    border: 1px solid black;
    border-radius: 500px;
    opacity: 0.8;
    height: 50px;
    width: 90%;
    position: fixed;
    bottom: 20px;
}
.send-message-container button{
    font-size: 1rem;
    /* background-color: #226fff; */
    background-color: white;
    
    position: absolute;
    width: 45px;
    height: 45px;
    top: 2px;
    right: 5px;
    bottom: 0;
    border-radius: 500px;
    border: 0px;
    transition: 0.2s;
  
}
.send-img{
    width: 35px;
    rotate: -45deg;
}
.send-message-container button:hover{
    transition: 0.2s;
    opacity: 0.7;
    cursor: pointer;
}
.send-message-container input{

    font-size: 1rem;
    width: 100%;
    height: 100%; 
    border-radius: 500px;
    border: 1px solid grey;
    text-align: center;
}
.container-for-sending-messages{
    width: 100%;
    display: flex;
    justify-content: center;
}