*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: MontserratMedium;
}

body{
    background-color: var(--primary-color);
}

@font-face {
    font-family: Roboto;
    src: url('./assets/fonts/Roboto.ttf');
}

@font-face {
    font-family: MontserratMedium;
    src: url('./assets/fonts/Montserrat-Medium.ttf');
}

@font-face {
    font-family: MontserratBold;
    src: url('./assets/fonts/Montserrat-Bold.ttf');
}

:root{
    overflow-x: hidden;
    --primary-color:#1E1E1E;
    --secondary-color:#090b12;
    --text-color: #f9f9f9;
    color: #f9f9f9;
}

.main-container{
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: var(--primary-color);
    background: radial-gradient(at center, var(--primary-color), var(--secondary-color));
}
::-webkit-scrollbar {
    width: 0;
}
.adaptive-container{
    transition: 0.2s;
    width: auto;
    display: flex;
    flex-direction: column;
    max-width: 700px;
    height: auto;
    background-color: var(--secondary-color);
    border: 1px solid var(--primary-color);
    border-radius: 25px;
    padding: 25px;
    color: var(--text-color);
}

.auth-middle-inner{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.auth-middle-inner input{
    height: 50px;
    margin: 10px 0px;
    text-indent: 1rem;
    color: rgb(187, 187, 187);
    border: 0px;
    border-radius: 5px;
    font-size: 1rem;
}

.submit-btn{
    font-size: 1rem;
    margin: 10px 0px;
    border-radius: 5px;
    height: 50px;
    border: 1px solid var(--primary-color);
    background-color: var(--secondary-color);
    color: var(--text-color);
    cursor: pointer;
    width: 100%;
    transition: 0.2s;
}

.submit-btn:hover{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    transition: 0.2s;
}

.toggle-link{
    color: grey;
}

.text-container li:nth-child(odd){
    background-color: rgba(255, 255, 255, 0.5);
}
.text-container li{
    display: flex;
    line-height: 50px;
    padding-left: 15px;
    font-size: 1rem;
    text-wrap: wrap;
    flex-wrap: wrap;
    overflow-x: hidden;
    color: grey;
}
.text-container{
    overflow-x: hidden; 
    width: 100%;
    max-height: 80vh;
    background-color: rgb(208, 208, 208);
    flex: 1;
    overflow-y: scroll;
}

.send-message-container{
    height: 50px;
    width: 100%;
}

.send-btn{
    right: 25px;
    top: 25px;
    background-color: transparent;
    position: absolute;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 0px;
    transition: 0.2s;
}
.send-img{
    width: 25px;
    rotate: -45deg;
}
.send-message-container button:hover{
    transition: 0.2s;
    opacity: 0.7;
    cursor: pointer;
}
.send-message-container input{
    font-size: 1rem;
    width: 100%;
    height: 100%; 
    border-radius: 500px;
    background-color: #1E1E1E;
    color: white;
    border: 1px solid rgb(100, 100, 100);
    text-align: center;
}
.container-for-sending-messages{
    position: fixed;
    background-color: var(--primary-color);
    bottom: 0px;
    height: 100px;
    opacity: 0.7;
    padding: 15px;
    align-items: center;
    width: 75%;
    display: flex;
    justify-content: center;
}

.room-header{
    font-family: MontserratBold;
    padding: 10px 0px;
    text-indent: 1rem;
}

.chat-container{
    background-color: #1e1e1e;
    height: 100%;
    width: 100%;
}

.main-interface-container{
    display: grid;
    grid-template-columns: 25% 80%;
    height: 100vh;
}

.contacts-containers{
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 0%, 0.2);
    display: flex;
    padding: 25px;
}
.contacts-containers li:first-child{
    border-bottom:none;
}
.contacts-containers li{
    text-decoration: none;
    list-style: none;
    padding-left: 0px;
    line-height: 50px;
    border-bottom: 1px solid #494949;
    width: 100%;
}
.contacts-containers ul{
    width: 100%;
}

.room-link{
    text-decoration: none;
    color: #f9f9f9;
}

.search-container{
    width: 100%;
    height: 50px;
    border: 1px solid #f9f9f9;
    background-color: var(--primary-color);
    color: #f9f9f9;
    border-radius: 600px;
    text-indent: 1rem;
}

@media screen and (min-width:1000px) {
    .adaptive-container{
        width: 700px;
    }
}
@media screen and (max-width: 480px) {
    .container-for-sending-messages{
        width: 100%;
    }
}