*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: MontserratMedium;
}


.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

body{
    background-color: var(--primary-color);
}

.image-preview-container{
    max-width: 300px;
    background-color: rgba(0, 0, 0, 0.2);
}
.image-preview{
    width: 100%;
}
.image-preview img{
    width: 100%;
}
.image-preview-info{
    width: 100%;
}

.cancel-image-btn{
    width: 100%;
    background-color: var(--deep-blue);
    color: white;
    border: 0px;
    padding: 10px;
    font-size: 1rem;
}

.quick-emojis{
    border-radius: 600px;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 5px;
    display: flex;
}
.quick-emojis button{
    font-size: 1.5rem;
    background-color: transparent;
    border: 0px;
    border-right: 1px solid white;
    flex: 1;
}

.quick-emojis button:last-child{
    border: 0px;
}

.image-upload-btn{
    position: absolute;
    left: 28px;
    bottom: 40px;
}

@font-face {
    font-family: Roboto;
    src: url('./assets/fonts/Roboto.ttf');
}

@font-face {
    font-family: Vilula;
    src: url('./assets/fonts/Vilula.ttf');
}

@font-face {
    font-family: MontserratMedium;
    src: url('./assets/fonts/Montserrat-Medium.ttf');
}

@font-face {
    font-family: MontserratBold;
    src: url('./assets/fonts/Montserrat-Bold.ttf');
}

:root{
    overflow-x: hidden;
    --primary-color:#1E1E1E;
    --secondary-color:#090b12;
    --text-color: #f9f9f9;
    --deep-blue: #276bb9;
    /* --deep-blue:#057eff; */
    color: #f9f9f9;
}

.main-container{
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: var(--primary-color);
    background: radial-gradient(at center, var(--primary-color), var(--secondary-color));
}
::-webkit-scrollbar {
    width: 0;
}

.empty-chat{
    width: 100%;
    margin: 10px 0px;
    text-align: center;
}

.adaptive-container{
    transition: 0.2s;
    width: auto;
    display: flex;
    flex-direction: column;
    max-width: 700px;
    height: auto;
    background-color: var(--secondary-color);
    border: 1px solid var(--primary-color);
    border-radius: 25px;
    padding: 25px;
    color: var(--text-color);
}

.auth-middle-inner{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.auth-middle-inner input{
    height: 50px;
    margin: 10px 0px;
    text-indent: 1rem;
    color: rgb(187, 187, 187);
    border: 0px;
    border-radius: 5px;
    font-size: 1rem;
}

.submit-btn{
    font-size: 1rem;
    margin: 10px 0px;
    border-radius: 5px;
    height: 50px;
    border: 1px solid var(--primary-color);
    background-color: var(--secondary-color);
    color: var(--text-color);
    cursor: pointer;
    width: 100%;
    transition: 0.2s;
}

.submit-btn:hover{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    transition: 0.2s;
}

.toggle-link{
    color: #f9f9f9;
}



.text-container{
  
    overflow-x: hidden; 
    width: 92%;
    max-height: 75vh;
    margin: 10px 0px;
    padding: 15px 0px;
    background-color: var(--primary-color);
    /* background-color: #f9f9f9; */
    flex: 1;
    overflow-y: scroll;
}

.greet-msg{
    border-radius: 600px;
    padding: 15px;
    background-color: var(--deep-blue);
}

.message-card{
    display: flex;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 0px;
    border-radius: 15px;
    font-size: 1rem;

    text-wrap:initial;
    flex-wrap: wrap;
    overflow-x: hidden;
    color: grey;
    width: auto;
    max-width: 800px;
}

.no-messages{
    padding: 15px;
}

.message-card li[data="time"]{
    align-items: end;
    justify-content: right;
}

.message-card ul{
    width: 100%;
}

.messages-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}


.message-card.yes{
    margin-left: auto;
    color: #f9f9f9;
    background-color: var(--deep-blue);
}
.message-card.no{
    margin-right: auto;
    background-color: #f9f9f928;
}

.error{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 67, 67);
}

.message-card li[data="text"]{
    display: flex;
    word-break: break-all;
    width: auto;
    line-height: auto;
    background-color: hsla(0, 0%, 98%, 0.250);
    color: #f9f9f9;
    border-radius: 5px;
    margin: 10px 0px;
    padding: 10px;
}

.message-card li{
    width: 100%;
    text-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    list-style: none;
}

.quick-emoji{
    cursor: pointer;
    height: 100%;
    transition: 0.2s;
}
.quick-emoji:hover{
    background-color:rgba(255, 255, 255, 0.2);
    transition: 0.2s;
}
.quick-emoji:hover:first-child{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.quick-emoji:hover:last-child{
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.send-message-container{
    height: 50px;
    width: 100%;
}

.send-btn{
    right: 25px;
    top: 27px;
    background-color: transparent;
    position: absolute;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 0px;
    transition: 0.2s;
}
.send-img{
    width: 25px;
    rotate: -45deg;
}
.send-message-container button:hover{
    transition: 0.2s;
    opacity: 0.7;
    cursor: pointer;
}
.text-input{
    font-size: 1rem;
    padding: 5px;
    width: 100%;
    overflow-x: scroll;
    height: 100%; 
    border-radius: 500px;
    background-color: #1E1E1E;
    color: white;
    border: 1px solid rgb(100, 100, 100);
    text-align: center;
}

.message-image img{
    border-radius: 15px;
}
.message-image{
    padding: 15px;
}

.container-for-sending-messages{
    position: relative;
    bottom: 0px;
    height: 100px;
    opacity: 0.7;
    align-items: center;
    width: 90%;
    display: flex;
    justify-content: center;
}
.messages-footer{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 10px;
    position: fixed;
    background-image: url('./assets/images/glass.png');
    bottom: 0;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(10px);
}
.chat-header{
    width: 100%;
    justify-self: unset;
}

.room-header{
    color: #f9f9f9;
    text-transform: uppercase;
    border-bottom: 3px solid var(--deep-blue);
    text-indent: 15px;
    
    font-family: MontserratMedium;
    padding: 10px 0px;
    
    
}

.navigation-bar.current{
    display: none;
}

.room-link{
    color: white;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
    transition: 0.2s;
    border-radius: 600px;
    margin: 5px 0px;
    border: 0px;
    padding: 15px;
    text-align: left;
    font-size: 1.2rem;
    width: 100%;
    height: 100%;
}
.room-link:hover{
    background-color: rgba(255, 255, 255, 0.3);
    transition: 0.2s;
}

.chat-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1e1e1e;
    height: 100vh;
    width: 100%;
}

.main-interface-container-desktop{
    display: grid;
    grid-template-columns: 25% 75%;
    height: 100vh;
}

.main-interface-container-mobile{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navigation-bar{
    height: 60px;
    max-width: 80%;
    min-width: 300px;
    display: flex;
    color: #f9f9f9;
    text-decoration: none;
    background-color: rgba(246, 246, 246, 0.3);
    position: fixed;
    bottom: 20px;
    padding: 5px;
    border-radius: 600px;
}

.mobile-content{
    width: 100%;
}

.navigation-bar-btn{
    background-color: transparent;
    border: 0px;
    flex: 1;
    height: 100%;
    cursor: pointer;
}

.contacts-containers{
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 0%, 0.2);
    display: flex;
    padding: 25px;
}

.contacts-containers li:first-child{
    border-bottom:none;
    margin-bottom: 15px;
}

.contacts-containers li{
    text-decoration: none;
    list-style: none;
    padding-left: 0px;
    line-height: 50px;
    /* border-bottom: 1px solid #494949; */
    width: 100%;
}

.contacts-containers ul{
    width: 100%;
}

.search-container{
    width: 100%;
    height: 50px;
    border: 1px solid #f9f9f9;
    background-color: var(--primary-color);
    color: #f9f9f9;
    border-radius: 600px;
    text-indent: 1rem;
}

.back-button{
    padding: 0px 10px;
    margin-top: 10px;
    background-color: transparent;
    font-size: 1rem;
    cursor: pointer;
    color: grey;
    width: 100%;
    border: none;
    display: flex;
    justify-content: left;
    left: 0;
    transition: 0.2s;
}

.back-button:hover{
    opacity: 0.7;
    transition: 0.2s;
}

@media screen and (min-width:1000px) {
    .adaptive-container{
        width: 700px;
    }
}

@media screen and (max-width: 480px) {
    .container-for-sending-messages{
        width: 100%;
    }
    .messages-footer{
        position: relative;
        width: 100%;
    }
    .room-header{
        text-align: center;
        text-indent: 0px;
    }
    .text-container{
        max-height: 90vh;
    }
}

@media screen and (max-width: 800) {
    .container-for-sending-messages-outer{
        flex-direction: column;
    }
}